{% extends "layout.html.twig" %}

{% block title %}
	{% trans %}MX Lookup{% endtrans %}
{% endblock %}

{% block content %}
	<h1>{{ block("title") }}</h1>

	{% if hostname %}
		{% for key, host in mxHosts %}
			<div class="card border-default mb-3">
				<div class="card-header bg-default">Gewichtung: {{ mxWeight[key] }}</div>
				<div class="card-body">
					<p class="card-text">{{ mxHosts[key] }}</p>
				</div>
			</div>
		{% endfor %}
	{% endif %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}