{% extends "layout.html.twig" %}

{% block title %}
	{% trans %}NS Lookup{% endtrans %}
{% endblock %}

{% block content %}
	<h1>{{ block("title") }}</h1>

	{% if hostname %}
		{% for dnsEntry in dnsEntries %}
			<div class="card border-default mb-3">
				<div class="card-header bg-default">Type: {{ dnsEntry.type }}</div>
				<div class="card-body">
					<p class="card-text">
						{% include "Partials/Dns/entry.html.twig" with {"dnsEntry": dnsEntry} %}
					</p>
				</div>
			</div>
		{% endfor %}
	{% endif %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}