{% set width = "20%" %}

<table class="table table-striped">
	<tbody>
	{% if dnsEntry.class is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Class</strong></td>
			<td>{{ dnsEntry.class }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.host is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Host</strong></td>
			<td>{{ dnsEntry.host }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.ip is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>IP-Address</strong></td>
			<td>{{ dnsEntry.ip }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.ipv6 is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>IP-Address (v6)</strong></td>
			<td>{{ dnsEntry.ipv6 }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.pri is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Priority</strong></td>
			<td>{{ dnsEntry.pri }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.target is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Target</strong></td>
			<td>{{ dnsEntry.target }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.ttl is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Time to live</strong></td>
			<td>{{ dnsEntry.ttl }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.mname is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Mname</strong></td>
			<td>{{ dnsEntry.mname }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.rname is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Rname</strong></td>
			<td>{{ dnsEntry.rname }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.serial is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Serial</strong></td>
			<td>{{ dnsEntry.serial }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.refresh is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Refresh</strong></td>
			<td>{{ dnsEntry.refresh }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.retry is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Retry</strong></td>
			<td>{{ dnsEntry.retry }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.expire is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Expire</strong></td>
			<td>{{ dnsEntry.expire }}</td>
		</tr>
	{% endif %}

	{% if dnsEntry.txt is defined %}
		<tr>
			<td style="width: {{ width }}"><strong>Text/SPF</strong></td>
			<td>{{ dnsEntry.txt|nl2br }}</td>
		</tr>
	{% endif %}
	</tbody>
</table>