<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %}</title>
	{{ encore_entry_link_tags('app') }}
</head>

<body>
<div id="topmenu">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path("dashBoard") }}">Dashboard</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Tools
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ path("md5") }}">MD5 Converter</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Network
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ path("mxLookup") }}">MX Lookup</a>
							<a class="dropdown-item" href="{{ path("nsLookup") }}">NS Lookup</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ path("port") }}">Portscanner</a>
						</div>
					</li>
				</ul>
				<form action="https://www.google.com/search" method="GET" target="_blank" class="form-inline my-2 my-lg-0">
					<input type="search" name="q" class="form-control mr-sm-2" placeholder="Google Suche" aria-label="Google Suche">
					<input type="submit" class="btn btn-outline-success my-2 my-sm-0">
				</form>
			</div>
		</div>
	</nav>
</div>

<div class="container" id="content">
	{% block content %}
	{% endblock %}
</div>

{{ encore_entry_script_tags('app') }}

</body>
</html>
